{% load static %}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/buscar.css' %}"> <!-- Cambia la ruta según tu estructura -->
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Resultados de Búsqueda</h1>

        {% if categories %}
            <ul class="category-list">
                {% for category in categories %}
                    <li class="category-item">
                        <a href="{% url 'post_list' category.name %}" class="category-link">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-results">No se encontraron categorías.</p>
        {% endif %}
    </div>
</body>
</html>
