{% load static %}

<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Página de emprendimientos.">
    <meta name="author" content="Tu Nombre">
    <title>Página de Emprendimientos</title>

    <!-- CSS de assets -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ollie.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ollie2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <nav id="scrollspy" class="navbar navbar-light navbar-expand-lg fixed-top" style="background: linear-gradient(to bottom, #f8c7c1, white); padding: 10px 20px;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo-bg.png' %}" alt="Logo de mi sitio" width="60" height="60" class="d-inline-block align-top">
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    <li class="nav-item mx-2">
                        <a class="nav-link btn btn-outline-primary rounded-pill" style="background-color: #d67a7a; color: #ffffff;" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" style="color: #d67a7a;" href="#about">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" style="color: #d67a7a;" href="#expertises">Emprendimientos</a>
                    </li>
                    <li class="nav-item mx-2">
                        <form class="form-inline" method="GET" action="{% url 'filtrar_categorias' %}">
                            <div class="input-group">
                                <input class="form-control rounded-pill" type="search" placeholder="Buscar Categoría" name="q" value="{{ query|default_if_none:'' }}" style="max-width: 200px; border: 1px solid #d67a7a;">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success rounded-pill" type="submit" style="background-color: #d67a7a; color: #ffffff;">
                                        <i class="fas fa-search"></i> <!-- Ícono de búsqueda -->
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
    
                    {% if user.is_authenticated %}
                        <li class="nav-item mx-2">
                            <span class="nav-link" style="color: #d67a7a;">Hola, {{ user.username }}!</span>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-danger rounded-pill" style="background-color: #d67a7a; color: #ffffff;" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-primary rounded-pill" style="background-color: #d67a7a; color: #ffffff;" href="{% url 'login' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link btn btn-outline-secondary rounded-pill" style="background-color: #d67a7a; color: #ffffff;" href="{% url 'register' %}">Registrarme</a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item mx-2">
                        <a class="nav-link" style="color: #d67a7a;" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    
    
    
    
    

    <header id="home" class="header" style="background-image: url('/static/assets/imgs/resistencia.jpg')">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">#EmprenderChaco</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Creamos <br>Diseños Responsivos</h1>
                            <button class="btn btn-primary btn-rounded">Saber Más</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Creamos <br>Diseños Simples</h1>
                            <button class="btn btn-primary btn-rounded">Saber Más</button>
                        </div>
                    </div>
                </div>
            </div>        
        </div>

        <section class="welcome-section">
            <div class="container">
              <div class="welcome-box">
                <h2 class="section-title">¡Bienvenido a Emprendimientos Chaco!</h2>
                <p class="section-description">
                  Descubre la creatividad y el talento de los emprendedores del Chaco. ¡Explora nuestros productos y servicios!
                </p>
                <p class="welcome-text" style="font-size: 1.3rem;">
                  ¡Explora nuestro blog y encuentra todo lo que necesitas! #EmprendedoresDelChaco
                </p>
              </div>
            </div>
        </section>
        
        
        
    </header>


    <section class="section" id="expertises">
        <div class="container">
            <h3 class="section-title mb-4">Emprendimientos</h3>
    
            <d<div class="row text-center">
                {% for post in posts %}
                <div class="col-lg-4 mb-4">
                    <div class="card" style="max-width: 300px; margin: 0 auto;">
                        <img class="card-img-top img-fluid" src="{{ post.imagen_seccion.url }}" alt="{{ post.titulo }}" style="max-height: 200px; object-fit: cover; border-radius: 8px;">
                        <div class="card-body" style="padding: 10px;">
                            <h4 class="title mt-4" style="font-size: 1.2rem;">{{ post.titulo }}</h4>
                            <p class="xs-font" style="font-size: 0.9rem;">{{ post.descripcion|truncatewords:20 }}</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary mt-3" style="width: 100%; padding: 8px; font-size: 0.9rem;">Ver más</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                     
        </div>
    </section>
    

    <section class="section" id="about">
        <div class="container">
            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h5 class="xs-font mb-0">#Grupo 4</h5>
                    <h3 class="section-title">Sobre Nosotros</h3>
                    <p>Somos el Grupo 4 - Comision 2 del Informatorio y este es nuestro Proyecto de Emprendimientos de Chaco!</p>
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="usuario1 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/lucas.jpg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Lucas Ravarotto</h4>
                            <p>Programador Front-End</p>
                        </div>
                    </div>
                    <div class="usuario2 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/eve.jpeg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Evelin Valdez</h4>
                            <p>Programadora Back-End</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="usuario3 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/anon.jpg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Eric Santino Quinteros</h4>
                            <p>Programador Back-End</p>
                        </div>
                    </div>
                    <div class="usuario4 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/franco.jpeg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Franco Godoy</h4>
                            <p>Programador Back-End y Front-End</p>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </section>

    <section id="contacto" class="section pb-0">
        <div class="container text-center"> <!-- Añadido text-center para centrar texto -->
            <h6 class="xs-font mb-0">Contactá con nuestro equipo</h6>
            <h3 class="section-title mb-5">Completá acá</h3>
    
            <div class="row align-items-center justify-content-center"> <!-- Cambiar justify-content-between a justify-content-center -->
                <div class="col-md-8 col-lg-7">
                    <form class="contact-form" method="post" action="{% url 'contacto' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="nombre_apellido" class="form-control" placeholder="Nombre y Apellido" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="asunto" class="form-control" placeholder="Asunto" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" cols="30" rows="5" class="form-control" placeholder="Mensaje" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Enviar Mensaje">
                            <!-- Sección para mostrar mensajes -->
                            {% if success_message %}
                                <div class="alert alert-success">
                                    {{ success_message }}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    
    <footer class="footer">
        <div class="container">
            <div class="contact-info">
                <div class="contact-item">
                    <i class="ti-microphone pr-2"></i>
                    <strong>Teléfono:</strong>
                    <span>(+54) 362-4123456</span>
                </div>
                <div class="contact-item">
                    <i class="ti-email pr-2"></i>
                    <strong>Email:</strong>
                    <span>emprendimientochaco@gmail.com</span>
                </div>
            </div>
            <p>&copy; 2024 EmprenderChaco. Todos los derechos reservados.</p>
            <div class="social-links">
                <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
            </div>
        </div>
    </footer>
    
    
    
    <!-- JS de assets -->
    <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    
</html>
