<!DOCTYPE html>
{% load static %}
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   
</head>
<body>
    {% include 'navbar.html' %}  <!-- Usar el navbar de main.html -->

    <div class="post-detail">
        {% if post.imagen_seccion %}
            <img src="{{ post.imagen_seccion.url }}" alt="Logo de {{ post.titulo }}" class="img-fluid logo-imagen rounded-square" style="width: 100%; max-width: 150px; display: block; margin: 0 auto;">
        {% endif %}
    
        <h1 class="text-center mt-3">{{ post.titulo }}</h1>
        
        <div class="post-content">
            <p class="descripcion">{{ post.descripcion|urlize|linebreaks }}</p>
            
            {% if post.imagen_detalle %}
                <img src="{{ post.imagen_detalle.url }}" alt="Imagen detallada de {{ post.titulo }}" class="img-fluid detalle-imagen" style="max-width: 300px; height: auto;">
            {% endif %}
        
        <!-- Otros detalles del post -->
        <div class="detalles-adicionales">
            {% if post.horario_atencion %}
            <p><strong>Horario de atención:</strong> {{ post.horario_atencion }}</p>
            {% endif %}
            
            {% if post.ubicacion %}
            <p><strong>Ubicación:</strong> {{ post.ubicacion }}</p>
            {% endif %}
            
            {% if post.servicios %}
            <p><strong>Servicios:</strong> {{ post.servicios }}</p>
            {% endif %}
        </div>

        <!-- Sección de Contactos -->
        <div class="contact-section" style="margin-top: 30px; text-align: center;">
            <h3>Contacto</h3>
            {% if post.email_contacto %}
                <p>E-mail: <a href="mailto:{{ post.email_contacto }}">{{ post.email_contacto }}</a></p>
            {% endif %}
            {% if post.telefono_contacto %}
                <p>Teléfono / Whatsapp: <a href="tel:{{ post.telefono_contacto }}">{{ post.telefono_contacto }}</a></p>
            {% endif %}
        </div>

        <!-- Sección de enlaces -->
        <div class="link-section" style="margin-top: 30px;">
            {% if post.link1 %}
                <h4>{{ post.link1_title }}</h4> <!-- Título personalizado para el primer enlace -->
                <p><a href="{{ post.link1 }}" target="_blank" rel="noopener noreferrer">{{ post.link1 }}</a></p>
            {% endif %}
            {% if post.link2 %}
                <h4>{{ post.link2_title }}</h4> <!-- Título personalizado para el segundo enlace -->
                <p><a href="{{ post.link2 }}" target="_blank" rel="noopener noreferrer">{{ post.link2 }}</a></p>
            {% endif %}
        </div>




    </div>  
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
